html, body {
    height: 100%;
    color: #444;
    font-size: 10pt;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 95%
}


pre code.hljs {
    padding: 0.6em !important;
}

code {
    font-family: "Courier New",Courier,  monospace;
    font-size: 9pt;
    padding: 0.2em;
    color: #00565e;
}

a {
    color: #0994b6;
    text-decoration: none;
}

a.post-link {
    color: #222;
}

a.post-link:hover {
    color: #555;
}

div#main {
    word-wrap: break-word;
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    margin-top: 50px;
    //min-height: 100%;
    flex: 1 0 auto;
}

#content {
    margin:10pt;
}

body {
    background-size: 20px 20px;
    font-family: 'STHeiti', 'Noto Serif TC', sans-serif ;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
}

footer {
    color: #222;
    background-color: #fff;
    text-align:center;
    margin:0px 0px 0px 0px;
    padding: 22pt 22pt 88pt 22pt;
    flex-shrink: 0;
}

a.footer {
  color: #000;
  font-weight: bold;
}

a.footer:hover {
  color: #fff;
}

.date {
    color:#333;
    font-size: 10pt;
    font-family: "Courier New", Courier, 'Noto Sans TC', monospace;
}

h1, h2 {
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 0;
}

a.subheader {
  color: #333;
}

a.subheader:hover {
  color: #8282ff;
}

div.posts {
  margin-top: 3em;
}

h1.website-name {
    border-bottom: none;
    margin: 0;
    padding-bottom: .3em;
    padding-top: .3em;
    padding-left: .5em;
    padding-right: .3em;
}

h2, h3, h4, h5, h6 {
    font-family: "Courier New", Courier, 'Noto Sans TC',sans-serif;
}

a.website-name {
    color: #000;
}

nav#main-menu {
    padding:8pt 0 8pt 0;
    background-color:#fff;
    position: fixed;
    width:100%;
    top:0;
    transition: top 0.2s; 
}

#main-menu a {
    color: #222;
    margin: 0 0 0 10pt;
}

#main-menu a:hover {
    color: #777;
}

a.tags {
  margin-bottom: 4px;
  margin-top: 4px;
  color: #000;
  background-color: #fafafa;
  border-radius: 30px;
  line-height: 23px;
  font-size: 14px;
  padding: 0 10px;
  display: inline-block;
  font-family: "Courier New", Courier, 'Noto Serif TC', serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#TOCStyle {
  cursor: pointer;

  border-radius: 4px;

  padding: 0 10px;
}

#TableOfContents a:hover {
  color: #ccc;
}

#TableOfContents a {
  color: #777;
}

#TOCState {
  color: #888;
}

blockquote {
  background-color: #cfd8e8;
  border-radius: 0.5em;
  color: #697587;
  padding: 0.25em 1em 0.25em 1em ;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
