html, body {
    height: 100%;
    color: #444;
}

h1, h2 {
  border-bottom: 1px solid #d5d9de;
  padding-bottom: .3em;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 95%
}

code {
    font-family: monospace;
    background: #e0e0e0;
    padding: 0.2em;
}

a {
    color: #0994b6;
    text-decoration: none;
}

a.post-link {
    color: #444;
}

a.post-link:hover {
    color: #555;
}

div#main {
    word-wrap: break-word;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    background: #f5f5f5;
    //min-height: 100%;
    flex: 1 0 auto;
}

#content {
    margin:10pt;
}

body {
    background: linear-gradient(45deg, #131313 5px, transparent 5px) 0 0px;
    background-color: #111;
    background-size: 20px 20px;
    font-family: "Noto Sans", "微軟正黑體", "sans-serif";
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
}

footer {
    color: #ccc;
    background-color: #333;
    text-align:center;
    margin:0px 0px 0px 0px;
    padding: 22pt 22pt 88pt 22pt;
    flex-shrink: 0;
}

a.footer {
  color: #eee;
  font-weight: bold;
}

a.footer:hover {
  color: #fff;
}

div.date {
    color:#aaa;
    font-size: 10pt;
}

h1.website-name {
    border-bottom: none;
    padding-bottom: 0;
    margin: 0;
    background-color: #222;
    padding-bottom: .3em;
    padding-top: .3em;
}

a.website-name {
    color: #fff;
    margin-left: 20pt;
}

nav#main-menu {
    padding:8pt 0 8pt 0;
    background-color:#333;
    position: sticky;
    width:auto;
    top:0;
}

#main-menu a {
    color: #eee;
    margin: 0 0 0 10pt;
}

#main-menu a:hover {
    color: #fff;
}

a.tags {
  margin-bottom: 4px;
  margin-top: 4px;
  color: #fff;
  background-color: #444;
  border-radius: 30px;
  line-height: 23px;
  font-size: 14px;
  padding: 0 10px;
  display: inline-block;
}

a.subheader {
  color: #b3b3b3;
}

a.subheader:hover {
  color: #8282ff;
}

