nav#main-menu { 
    padding:8pt 0 8pt 0;
    background-color:#333;
    position: sticky;
    width:auto;

    top:0;
}

#main-menu a {
    color: #eee;
    margin: 0 0 0 10pt;
}

#main-menu a:hover {
    color: #fff;
}
